<launch>
  <arg name="camera_info_yaml" default="$(find depthimage_to_laserscan_slice)/config/sample.yaml" />

  <rosparam command="load" file="$(arg camera_info_yaml)" />

  <node pkg="depthimage_to_laserscan_slice" type="depthimage_to_laserscan_slice_node" name="scan_node" output="screen" >
    <param name="output_frame_id" value="" />
  </node>

</launch>
